.boxes-container {
  display: flex;
  flex-wrap: wrap;
  background-color: blueviolet;
  margin: 10px 10%;
}

.recipe-box {
  margin: 10px;
  padding: 20px;
  width: calc(33.33% - 20px);
  background-color: aqua;
  border: 1px solid black;
  box-shadow: 0 0 10px black;
}

.dashed {
  list-style-type: none;
}

.ing-list {
  background-color: blue;
  display: flex;
}

